{{!< default}}

<article class="page-full {{post_class}}">
    {{!-- Conditionally show the title and feature image if the toggle is ON --}}
    {{#match @page.show_title_and_feature_image}}
        <header class="page-header">
            <h1 class="page-title y2k-heading">{{title}}</h1>
            {{#if feature_image}}
                <img class="page-feature-image" src="{{feature_image}}" alt="{{title}}">
            {{/if}}
        </header>
    {{/match}}
    <section class="page-content">
        {{content}}
    </section>
</article> 