<aside class="sidebar" id="sidebar" aria-expanded="true">
    <button class="sidebar-toggle" id="sidebar-toggle" aria-label="Toggle sidebar" aria-controls="sidebar" aria-expanded="true">
        <span class="sidebar-toggle-icon" aria-hidden="true">&#9776;</span>
        <span class="sidebar-toggle-text">Menu</span>
    </button>
    {{> "meme-banner"}}
    <div class="sidebar-content">
        <section class="sidebar-categories">
            <h3>Categories</h3>
            <ul>
                {{#get "tags" limit="all"}}
                    {{#foreach tags}}
                        <li><a href="/tag/{{slug}}">{{name}}</a></li>
                    {{/foreach}}
                {{/get}}
            </ul>
        </section>
        <section class="sidebar-random">
            <h3>Random Post</h3>
            <a href="{{@site.url}}/random">Go!</a>
        </section>
        
        {{#if @custom.portfolio_url}}
        <section class="sidebar-projects">
            <h3>Projects</h3>
            <ul>
                {{#if @custom.portfolio_url}}
                    <li><a href="{{@custom.portfolio_url}}" target="_blank" rel="noopener">Portfolio</a></li>
                {{/if}}
                {{#if @custom.app_url}}
                    <li><a href="{{@custom.app_url}}" target="_blank" rel="noopener">Latest App</a></li>
                {{/if}}
            </ul>
        </section>
        {{/if}}
        
        {{> "recently-edited"}}
        {{> "random-fact"}}
    </div>
</aside> 